*{
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Corbel';
    /* text-decoration: none; */
    user-select: none;
    outline: none;
}
body{
    /* background-color: #27262a; */
    background-color: rgb(240, 238, 239);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.3);
}
header{
    background-color: #37363b7e;
    box-shadow: 0px 50px 30px rgb(255, 255, 255);
    color: white;
    width: 100%;
    height: 400px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}
.head_logo_social{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    background-image: url("imagen/imagotipo.svg");
    background-repeat: no-repeat;
    filter: invert(1);

    width: 120px;
    height: 50px;
    /* margin: 20px 0px 0px 20px; */
    position: absolute;
    left: 20px;
    top: 20px;

    transition: .2s;
}
.social{
    background-color: #55535a50;
    border-bottom: 1px solid #B0AEB790;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 50px 50px;

    width: 120px;
    height: 35px;
    padding: 0px 20px 0px 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 60px;
    z-index: 2;

    transition: .2s;
}
.btn{
    background-color: #55535a50;
    border: 1px solid #B0AEB790;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    font-size: 18px;
    width: 35px;
    height: 35px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.btn:hover{
    cursor: pointer;
}
.ico{
    width: 18px;
    height: 18px;
    filter: invert(1);
    background-repeat: no-repeat;
}
.yt{
    background-image: url("imagen/youtube.svg");
}
.tw{
    background-image: url("imagen/twitter.svg");
}
.ins{
    background-image: url("imagen/instagram.svg");
}
.about{
    width: 75%;
    max-width: 600px;
    text-align: center;
    font-size: .8em;
    margin-top: 70px;

    transition: .2s;
}
.about > h1{
    font-size: 27px;
    transition: .2s;
}
.about > p{
    font-size: 16px;
    transition: .2s;
}
.header_vid{
    background-position: center;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;

    transition: .2s;
}
.vid_cont{
    position: relative;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    transition: .2s;
    margin: auto;
    margin-top: 70px;
    max-width: 1150px;
    text-align: center;
}
aside >h1{
    background-color: rgb(175, 175, 175);
    color: transparent;
    text-shadow: -3px 3px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    font-size: 30px;
    transition: .2s;
    z-index: 1;
}
aside > p{
    background-color: rgb(155, 155, 155);
    color: transparent;
    text-shadow: -3px 3px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
}
.bold{
    font-size: 1.1em;
    font-weight: bold;
}
.race{
    width: 100%;
    padding-top: 26%;
    background-color: #120f14;
    box-shadow: -10px 10px 5px rgba(65, 65, 65, 0.4);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: .2s;
}
.race:hover{
    box-shadow: -25px 25px 10px rgba(65, 65, 65, 0.2);
    padding-top: 37%;
    width: 105%;
}
.capa{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}
.smb{
    background-image: url("imagen/spacerace_smb.png");
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
.ttl{
    background-image: url("imagen/spacerace_ttl.png");
    width: 25%;
    height: 70%;
    top: 5%;
    left: 21%;
    -webkit-animation: flotar_ttl 15s infinite ease-in-out alternate;
    -moz-animation: flotar_ttl 15s infinite ease-in-out alternate;
    animation: flotar_ttl 15s infinite ease-in-out alternate;
}
.estrellas{
    background-image: url("imagen/estrellas.png");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: flotar_estrellas 5s infinite ease-in-out alternate;
    -moz-animation: flotar_estrellas 5s infinite ease-in-out alternate;
    animation: flotar_estrellas 5s infinite ease-in-out alternate;
}
.tierra{
    background-image: url("imagen/race_1.png");
    width: 25%;
    height: 110%;
    top: -5%;
    left: -2.5%;
    -webkit-animation: flotar_tierra 5s infinite ease-in-out alternate;
    -moz-animation: flotar_tierra 5s infinite ease-in-out alternate;
    animation: flotar_tierra 5s infinite ease-in-out alternate;
}
.rus{
    background-image: url("imagen/race_2.png");
    width: 20%;
    height: 60%;
    left: 25%;
    top: 50%;
    transform: rotate(10deg);
    -webkit-animation: flotar_rus 10s infinite ease-in-out alternate;
    -moz-animation: flotar_rus 10s infinite ease-in-out alternate;
    animation: flotar_rus 10s infinite ease-in-out alternate;

}
.luna{
    background-image: url("imagen/race_3.png");
    width: 50%;
    height: 100%;
    top: 5%;
    right: -7%;
    transform: rotate(3deg);
    -webkit-animation: flotar_luna 10s infinite ease-in-out alternate;
    -moz-animation: flotar_luna 10s infinite ease-in-out alternate;
    animation: flotar_luna 10s infinite ease-in-out alternate;

}
@keyframes flotar_ttl{
    0% {transform: translate(5%,5%);}
    100% {transform: translate(20%,15%);}
}
@keyframes flotar_estrellas{
    0% {transform: translate(0%,-1%);}
    100% {transform: translate(4%,2%);}
}
@keyframes flotar_tierra{
    0% {transform: rotate(-3deg);}
    100% {transform: translate(-1%,-3%);}
}
@keyframes flotar_rus{
    100% {transform: translate(-40%,20%);} 
}
@keyframes flotar_luna{
    0% {transform: rotate(-4deg);}
    100% {transform: translate(-7%,2%);} 
}
main >h1{
    font-size: 40px;
    text-align: center;
    background-color: rgb(185, 185, 185);
    color: transparent;
    text-shadow: -3px 3px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    margin-bottom: 30px;
    transition: .2s;
}
main{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: .2s;
}
.cnt{
    max-width: 380px;
    min-width: 315px;
    width: 95%;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 160px;
    gap: 50px;
}
.b{
    /* background: linear-gradient(90deg, #37363b 0%,#37363b 80%); */
    /* background-color: #ccc; */
    background-color: rgb(240, 238, 239);
    box-shadow: -10px 10px 10px rgba(65, 65, 65, 0.2), 10px -10px 10px rgba(255, 255, 255,.9);
    border-radius: 50px 150px 150px 50px;
    width: 35%;
    min-width: 130px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    transition: .2s;

}
.b:hover{
    /* background: linear-gradient(90deg, #66646d 0%,#37363b 80%); */
    cursor: pointer;
}
.b-activo{
    /* background: linear-gradient(90deg, #66646d 0%,#37363b 80%); */
    /* box-shadow: -10px 10px 10px rgba(0, 28, 73, 0.2), 10px -10px 10px rgba(255, 255, 255, .9); */
    width: 100%;
}
.cara,.noche,.kraken,.coloso,.dorado{
    width: 100px;
    height: 100px;
    background-size: 100px;
}
.cara{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10%;
    overflow-x: visible;
}
.noche,.kraken,.coloso,.dorado{
    filter: grayscale(.7);
    border-radius: 150px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	position: absolute;
    left: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-repeat: no-repeat;
    transition: .2s;
}
.color{
    border-radius: 4px;
    filter: grayscale(0);
}
.noche{
    background-image: url("imagen/noche.jpg");
}
.kraken{
    background-image: url("imagen/kraken.jpg");
}
.coloso{
    background-image: url("imagen/coloso.jpg");
}
.dorado{
    background-image: url("imagen/dorado.jpg");
}
.vinyl_noche,.vinyl_kraken,.vinyl_coloso,.vinyl_dorado,.vinyl_noche_light,.vinyl_kraken_light,.vinyl_coloso_light,.vinyl_dorado_light{
    width: 95px;
    height: 95px;
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: .2s;
}
.animacion_disco{
    opacity: 1;
	left: 55px;
	animation: giro 13.5s ease-out;
}
.animacion_luz{
    opacity: 1;
    left: 55px;
}
@keyframes giro {
    0% {transform: rotate(-135deg)} 
    100% {transform: rotate(1800deg)} 
}
li::before {
    content: "• ";
    color: transparent;
    text-shadow: -3px 3px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}
.lista_noche,.lista_kraken,.lista_coloso,.lista_dorado{
    background-color: rgb(160, 160, 160);
    font-size: .8em;
    font-weight: bold;
    color: transparent;
    text-shadow: -3px 3px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    position: relative;
    right: -50px;
    margin-right: 15%;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    transition: .2s;
}
.lista_noche>ol>li,.lista_kraken>ol>li,.lista_coloso>ol>li,.lista_dorado>ol>li{
    list-style-type: none;
}
.lista_activa{
    pointer-events: all;
    transform: scale(1);
    right: 15px;
    opacity: 1;
}
.lista_enlace{
    font-size: 45px;
    font-weight: bold;
}
.lista_noche>h1,.lista_kraken>h1,.lista_coloso>h1,.lista_dorado>h1{
    font-size: 15px;
    margin-left: 15px;
}
.lista_noche>h5,.lista_kraken>h5,.lista_coloso>h5,.lista_dorado>h5{
    margin-left: 25px;
}
.comprar_noche,.comprar_kraken,.comprar_coloso,.comprar_dorado{
    background-color: #a74949c9;
    opacity: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    right: -50px;
    border-radius: 150px;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;

}
.comprar_activo{
    opacity: 1;
    right: 20px;
    transition: .2s;
}
.comprar_noche:hover,.comprar_kraken:hover,.comprar_coloso:hover,.comprar_dorado:hover{
    background-color: #e76464; filter: drop-shadow(0 0 10px #e76464);
    transform: scale(1.1);
}
.itunes{
    width: 25px;
    height: 25px;
    background-image: url("imagen/itunes.svg");
    background-repeat: no-repeat;
    filter: invert(1);
}
.efecto-btn-comprar{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    position: absolute;
    opacity: 0;
    animation: pulse 2s infinite linear;
}
#btn-compra:hover .efecto-btn-comprar{
    box-shadow: 0px 0px 10px #e76464;
}
@keyframes pulse {
    0% {opacity: 0; transform: scale(0);}
    80% {opacity: 1; transform: scale(1);}
    100% {opacity: 0; transform: scale(1.5);}
}
footer{
    background-color: rgb(145, 145, 145);
    color: transparent;
    text-shadow: -3px 3px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    box-shadow: 0px -50px 50px rgba(65, 65, 65, 0.15);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;

    width: 100%;
    height: 35px;

    transition: .2s;
}

@media screen and (min-width: 600px){
    header{
        width: 100%;
        height: 550px;
    }
    .header_vid{
        height: 550px;
    }
    .logo{
        width: 200px;
        height: 100px;
    }
    .social{
        width: 150px;
        height: 40px;
        padding: 0px 20px 0px 20px;
    }
    .ico{
        width: 22px;
        height: 22px;
    }
    .about >h1{
        font-size: 35px;
        margin-top: 30px;
    }
    .about >p{
        font-size: 19px;
    }
    aside{
        padding-top: 30px;
    }
    aside > h1{
        font-size: 40px;
    }
    aside > p{
        font-size: 20px;
        margin-bottom: 35px;
    }
    main{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    main > h1{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .av{
        height: 235px;
    }
    .av:hover{
        background-size: 100%;
        height: 350px;
        filter: drop-shadow(0 0 15px #66646d50);
    }
    .cnt{
        max-width: 800px;
        width: 80%;
        grid-auto-rows: 220px;
    }
    .b{
        min-width: 200px;
    }
    .cara,.noche,.kraken,.coloso,.dorado{
        width: 150px;
        height: 150px;
        background-size: 150px;
    }
    .vinyl_noche,.vinyl_kraken,.vinyl_coloso,.vinyl_dorado,.vinyl_noche_light,.vinyl_kraken_light,.vinyl_coloso_light,.vinyl_dorado_light{
        width: 145px;
        height: 145px;
        position: absolute;
        left: 0px;
    }
    .animacion_disco{
        left: 80px;
    }
    .animacion_luz{
        left: 80px;
    }
    .lista_noche>h1,.lista_kraken>h1,.lista_coloso>h1,.lista_dorado>h1{
        font-size: 20px;
        margin-left: 15px;
    }
    .lista_noche,.lista_kraken,.lista_coloso,.lista_dorado{
        font-size: 1em;
    }
    .comprar_noche,.comprar_kraken,.comprar_coloso,.comprar_dorado{
        width: 50px;
        height: 50px;
    }
    .comprar_activo{
        right: 30px;
    }
    .itunes{
        width: 40px;
        height: 40px;
    }
    .efecto-btn-comprar{
        width: 45px;
        height: 45px;
    }
    footer{
        font-size: 17px;
        text-align: center;
        line-height: 50px;
        height: 50px;
    }
}
@media screen and (min-width: 750px){
    .about >h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .about >p{
        font-size: 22px;
    }
    main >h1{
        font-size: 60px;
        margin-bottom: 50px;
    }
    .b{
        min-width: 280px;
    }
    .cnt{
        max-width: 800px;
        grid-auto-rows: 280px;
        gap: 70px;
    }
    .cara,.noche,.kraken,.coloso,.dorado{
        width: 210px;
        height: 210px;
        background-size: 210px;
    }
    .vinyl_noche,.vinyl_kraken,.vinyl_coloso,.vinyl_dorado,.vinyl_noche_light,.vinyl_kraken_light,.vinyl_coloso_light,.vinyl_dorado_light{
        width: 205px;
        height: 205px;
        position: absolute;
        left: 0px;
    }
    .animacion_disco{
        left: 115px;
    }
    .animacion_luz{
        left: 115px;
    }
    .lista_noche>h1,.lista_kraken>h1,.lista_coloso>h1,.lista_dorado>h1{
        font-size: 24px;
        margin-left: 15px;
    }
    .lista_noche,.lista_kraken,.lista_coloso,.lista_dorado{
        font-size: 1.3em;
    }
    .comprar_activo{
        right: 50px;
    }
}