*{
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Corbel';
    user-select: none;
    outline: none;
}
body{
    background-color: rgb(240, 238, 239);
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.3);
}
header{
    background-color: #37363b7e;
    box-shadow: 0px 50px 30px rgb(255, 255, 255);
    color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-logo-social{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.logo{
    background-image: url("imagen/imagotipo.svg");
    background-repeat: no-repeat;
    filter: invert(1);
    width: 120px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.social{
    background-color: #55535a50;
    border-bottom: 1px solid #B0AEB790;
    backdrop-filter: blur(5px);
    border-radius: 0px 0px 50px 50px;
    width: 120px;
    height: 35px;
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 60px;
    z-index: 2;
}
.btn{
    background-color: #55535a50;
    border: 1px solid #B0AEB790;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    font-size: 18px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 10px;
    z-index: 2;
}
.btn-aud{
    top: 10px;
}
.btn-dark{
    top: 60px;
}
.btn-aud:hover,.btn-dark:hover{
    cursor: pointer;
}
.ico{
    width: 18px;
    height: 18px;
    filter: invert(1);
    background-repeat: no-repeat;
}
.yt{
    background-image: url("imagen/youtube.svg");
}
.tw{
    background-image: url("imagen/twitter.svg");
}
.ins{
    background-image: url("imagen/instagram.svg");
}
.about{
    width: 75%;
    max-width: 600px;
    text-align: center;
    font-size: .8em;
    margin-top: 70px;
}
.about > h1{
    font-size: 27px;
}
.about > p{
    font-size: 16px;
}
.header-vid{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    z-index: -1;
    overflow: hidden;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    max-width: 1150px;
    text-align: center;
    color: #666666;
    font-weight: bold;
}
aside >h1{
    font-size: 30px;
}
aside > p{
    font-size: 17px;
    margin-bottom: 25px;
}
.race{
    width: 100%;
    padding-top: 26%;
    background-color: #120f14;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5), 10px -10px 15px rgba(255, 255, 255, 0.07);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: .5s;
}
.race:hover{
    box-shadow: -25px 25px 15px rgba(0, 0, 0, 0.25);
    padding-top: 37%;
    width: 105%;
}
.capa{
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}
.smb{
    background-image: url("imagen/spacerace-smb.png");
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
.ttl{
    background-image: url("imagen/spacerace-ttl.png");
    width: 25%;
    height: 70%;
    top: 11%;
    left: 29%;
}
.estrellas{
    background-image: url("imagen/estrellas.png");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.tierra{
    background-image: url("imagen/race-1.png");
    width: 25%;
    height: 110%;
    top: -5%;
    left: -2.5%;
}
.rus{
    background-image: url("imagen/race-2.png");
    width: 20%;
    height: 60%;
    left: 15%;
    top: 51%;
    transform: rotate(10deg);
}
.luna{
    background-image: url("imagen/race-3.png");
    width: 50%;
    height: 100%;
    top: 5%;
    right: -7%;
    transform: rotate(3deg);
}
.ttl-main{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #666666;
}
main{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cnt{
    max-width: 380px;
    min-width: 315px;
    width: 95%;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 160px;
    gap: 50px;
}
.b{
    background-color: rgb(240, 238, 239);
    box-shadow: -12px 12px 15px rgba(0, 0, 0, 0.32), 8px -8px 15px rgba(255, 255, 255),
    inset 50px -50px 30px rgba(0, 0, 0, 0.15), inset -50px 50px 30px rgba(255, 255, 255,0.15);
    border-radius: 50px 150px 150px 50px;
    min-width: 130px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}
.b:hover{
    cursor: pointer;
}
.b-activo{
    width: 100%;
}
.ttl-album{
    color: #666666;
    font-size: 30px;
    width: 160px;
    right: 10%;
    opacity: 1;
    font-weight: bold;
    position: absolute;
    transition: transform .5s, opacity .5s;
}
.ttl-activo{
    opacity: 0;
}
.cara,.noche,.kraken,.coloso,.dorado{
    width: 100px;
    height: 100px;
    background-size: 100px;
}
.cara{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    overflow-x: visible;
}
.noche,.kraken,.coloso,.dorado{
    filter: grayscale(.7);
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-repeat: no-repeat;
    /* transition: .5s; */
}
.color{
    filter: grayscale(0);
}
.noche{
    background-image: url("imagen/noche.jpg");
}
.kraken{
    background-image: url("imagen/kraken.jpg");
}
.coloso{
    background-image: url("imagen/coloso.jpg");
}
.dorado{
    background-image: url("imagen/dorado.jpg");
}
.vinyl-noche,.vinyl-noche-span,.vinyl-kraken,.vinyl-kraken-span,.vinyl-coloso,.vinyl-coloso-span,.vinyl-dorado,.vinyl-dorado-span,.vinyl-noche-light,.vinyl-kraken-light,.vinyl-coloso-light,.vinyl-dorado-light{
    width: 95px;
    height: 95px;
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.animacion-disco{
    opacity: 1;
	animation: giro 13.5s ease-out;
}
.movimiento-disco{
    opacity: 1;
    transform: translate(55px);
}
@keyframes giro {
    0% {transform: rotate(-135deg)} 
    100% {transform: rotate(1800deg)} 
}
.lista-noche,.lista-kraken,.lista-coloso,.lista-dorado{
    font-size: .8em;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin-right: 15%;
    opacity: 0;
    pointer-events: none;
    transition: transform .5s, opacity .5s;
    color: #666666;
}
.lista-activa{
    pointer-events: all;
    opacity: 1;
}
.lista-enlace{
    font-size: 45px;
    font-weight: bold;
}
.lista-noche>h1,.lista-kraken>h1,.lista-coloso>h1,.lista-dorado>h1{
    font-size: 15px;
    margin-left: 15px;
    transition: opacity .5s;
}
.lista-noche>h5,.lista-kraken>h5,.lista-coloso>h5,.lista-dorado>h5{
    margin-left: 25px;
    transition: opacity .5s;
}
.lista-noche>ol>li,.lista-kraken>ol>li,.lista-coloso>ol>li,.lista-dorado>ol>li{
    list-style-type: none;
    transition: opacity .5s;
}
.comprar-noche,.comprar-kraken,.comprar-coloso,.comprar-dorado{
    background-color: #2c9b6d;
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .5s, opacity .5s;

}
.comprar-activo{
    opacity: 1;
    transition: transform .5s, opacity .5s;
}
.comprar-noche:hover,.comprar-kraken:hover,.comprar-coloso:hover,.comprar-dorado:hover{
    background-color: #42e6a2; filter: drop-shadow(0 0 10px #42e6a2);
}
.itunes{
    width: 20px;
    height: 20px;
    background-image: url("imagen/itunes.svg");
    background-repeat: no-repeat;
    filter: invert(1);
}
.efecto-btn-comprar{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    position: absolute;
    opacity: 0;
    animation: pulse 2s infinite linear;
}
#btn-compra:hover .efecto-btn-comprar{
    box-shadow: 0px 0px 10px #42e6a2;
}
@keyframes pulse {
    0% {opacity: 0; transform: scale(0);}
    80% {opacity: 1; transform: scale(1);}
    100% {opacity: 0; transform: scale(1.5);}
}
footer div{
    background-color: rgb(240, 238, 239);
}
footer>div>p{
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}
@media screen and (min-width: 600px){
    header{
        width: 100%;
        height: 550px;
    }
    .cnt-img{
        display: none;
    }
    .header-vid{
        height: 550px;
    }
    .logo{
        width: 200px;
        height: 100px;
    }
    .social{
        width: 150px;
        height: 40px;
        padding: 0px 20px 0px 20px;
    }
    .ico{
        width: 22px;
        height: 22px;
    }
    .about >h1{
        font-size: 35px;
        margin-top: 30px;
    }
    .about >p{
        font-size: 19px;
    }
    aside{
        color: transparent;
        padding-top: 30px;
    }
    aside >h1{
        background: #666666;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-size: 44px;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    aside > p{
        background: #666666;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-size: 24px;
        margin-bottom: 35px;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
    .race{
        width: 100%;
        padding-top: 26%;
        background-color: #120f14;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5), 10px -10px 15px rgba(255, 255, 255, 0.07);
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transition: .5s;
    }
    .race:hover{
        box-shadow: -25px 25px 15px rgba(0, 0, 0, 0.25);
        padding-top: 37%;
        width: 105%;
    }
    .capa{
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .smb{
        background-image: url("imagen/spacerace-smb.png");
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1;
    }
    .ttl{
        background-image: url("imagen/spacerace-ttl.png");
        width: 25%;
        height: 70%;
        top: 5%;
        left: 21%;
        -webkit-animation: flotar-ttl 15s infinite ease-in-out alternate;
        -moz-animation: flotar-ttl 15s infinite ease-in-out alternate;
        animation: flotar-ttl 15s infinite ease-in-out alternate;
    }
    .estrellas{
        background-image: url("imagen/estrellas.png");
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-animation: flotar-estrellas 5s infinite ease-in-out alternate;
        -moz-animation: flotar-estrellas 5s infinite ease-in-out alternate;
        animation: flotar-estrellas 5s infinite ease-in-out alternate;
    }
    .tierra{
        background-image: url("imagen/race-1.png");
        width: 25%;
        height: 110%;
        top: -5%;
        left: -2.5%;
        -webkit-animation: flotar-tierra 5s infinite ease-in-out alternate;
        -moz-animation: flotar-tierra 5s infinite ease-in-out alternate;
        animation: flotar-tierra 5s infinite ease-in-out alternate;
    }
    .rus{
        background-image: url("imagen/race-2.png");
        width: 20%;
        height: 60%;
        left: 25%;
        top: 50%;
        transform: rotate(10deg);
        -webkit-animation: flotar-rus 10s infinite ease-in-out alternate;
        -moz-animation: flotar-rus 10s infinite ease-in-out alternate;
        animation: flotar-rus 10s infinite ease-in-out alternate;
    
    }
    .luna{
        background-image: url("imagen/race-3.png");
        width: 50%;
        height: 100%;
        top: 5%;
        right: -7%;
        transform: rotate(3deg);
        -webkit-animation: flotar-luna 10s infinite ease-in-out alternate;
        -moz-animation: flotar-luna 10s infinite ease-in-out alternate;
        animation: flotar-luna 10s infinite ease-in-out alternate;
    
    }
    @keyframes flotar-ttl{
        0% {transform: translate(5%,5%);}
        100% {transform: translate(20%,15%);}
    }
    @keyframes flotar-estrellas{
        0% {transform: translate(0%,-1%);}
        100% {transform: translate(4%,2%);}
    }
    @keyframes flotar-tierra{
        0% {transform: rotate(-3deg);}
        100% {transform: translate(-1%,-3%);}
    }
    @keyframes flotar-rus{
        100% {transform: translate(-40%,20%);} 
    }
    @keyframes flotar-luna{
        0% {transform: rotate(-4deg);}
        100% {transform: translate(-7%,2%);} 
    }
    main{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .ttl-main{
        font-size: 50px;
        text-align: center;
        background: #666666;
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    }
    .cnt{
        max-width: 550px;
        width: 80%;
        grid-auto-rows: 220px;
    }
    .b{
        min-width: 200px;
    }
    .ttl-album{
        background: #666666;
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        font-size: 40px;
        width: 210px;
        margin-left: 25px;
        transition: transform .5s, opacity .5s;
    }
    .ttl-activo{
        transform: translate(50px);
    }
    .cara,.noche,.kraken,.coloso,.dorado{
        width: 150px;
        height: 150px;
        background-size: 150px;
    }
    .vinyl-noche,.vinyl-noche-span,.vinyl-kraken,.vinyl-kraken-span,.vinyl-coloso,.vinyl-coloso-span,.vinyl-dorado,.vinyl-dorado-span,.vinyl-noche-light,.vinyl-kraken-light,.vinyl-coloso-light,.vinyl-dorado-light{
        width: 145px;
        height: 145px;
        position: absolute;
        left: 0px;
    }
    .movimiento-disco{
        transform: translate(80px);
    }
    .lista-noche,.lista-kraken,.lista-coloso,.lista-dorado{
        font-size: 1em;
        right: -50px;
        background: #666666;
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
        transition: .5s;
    }
    .lista-activa{
        transform: translate(-60px);
    }
    .lista-noche>h1,.lista-kraken>h1,.lista-coloso>h1,.lista-dorado>h1{
        font-size: 20px;
    }
    .comprar-noche,.comprar-kraken,.comprar-coloso,.comprar-dorado{
        right: -50px;
        width: 40px;
        height: 40px;
    }
    .comprar-activo{
        transform: translate(-90px);
    }
    .itunes{
        width: 30px;
        height: 30px;
    }
    .efecto-btn-comprar{
        width: 35px;
        height: 35px;
    }
    footer>p{
        font-size: 17px;
        text-align: center;
        line-height: 70px;
    }
}
@media screen and (min-width: 800px){
    .about >h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .about >p{
        font-size: 22px;
    }
    .ttl-main{
        font-size: 60px;
        margin-bottom: 50px;
    }
    .b{
        min-width: 280px;
    }
    .ttl-album {
        font-size: 45px;
        width: 235px;
    }
    .cnt{
        max-width: 700px;
        grid-auto-rows: 280px;
        gap: 70px;
    }
    .cara,.noche,.kraken,.coloso,.dorado{
        width: 210px;
        height: 210px;
        background-size: 210px;
    }
    .vinyl-noche,.vinyl-noche-span,.vinyl-kraken,.vinyl-kraken-span,.vinyl-coloso,.vinyl-coloso-span,.vinyl-dorado,.vinyl-dorado-span,.vinyl-noche-light,.vinyl-kraken-light,.vinyl-coloso-light,.vinyl-dorado-light{
        width: 205px;
        height: 205px;
        position: absolute;
        left: 0px;
    }
    .movimiento-disco{
        transform: translate(115px);
    }
    .lista-noche,.lista-kraken,.lista-coloso,.lista-dorado{
        font-size: 1.3em;
    }
    .lista-noche>h1,.lista-kraken>h1,.lista-coloso>h1,.lista-dorado>h1{
        font-size: 24px;
        margin-left: 15px;
    }
    .comprar-activo{
        transform: translate(-110px);
    }
}
@media screen and (min-width: 1000px){
    .cnt-vid {
        width: 100%;
    }
}